*{
    font-style: italic;
}
div{
    color: red;
    font-size: 15pt;
}
p{
    background-color: azure;
}
.big{
    font-size: 20pt;
}
.bold{
    font-weight: bold;
}
#one{
    background-color: yellowgreen;
}
#two{
    background-color: bisque;
    padding-left: 20pt;
}
input[disabled]{
    width: 500px;
    font-style: normal;
}
input[type="text"]{
    font-weight: bold;
    font-style: normal;
}
input[type="number"]{
    font-style: italic;
    background-color: azure;
}