*{
    background-color: cyan;
} 
div{
    background-color: lightblue;
}
.cl1{
    background-color: lightcoral;
}
.cl1{
    background-color: lightskyblue;
}
#id1{
    background-color: lightgreen;
}
#id1{
    background-color: lightsteelblue; 
}